@charset "UTF-8";
html,
body {
  font-family: "Microsoft JhengHei", sans-serif, Arial, Helvetica;
  font-size: 16px;
  line-height: 1.5;
  color: #333; }

a,
button {
  outline: none; }

.-fadeIn {
  opacity: 0; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

html,
body {
  height: 100%; }

.container {
  min-height: 100%;
  overflow: hidden; }

/* ------------------------------- Header ------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-image: url(../images/background/header.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: white;
  z-index: 100; }
  .header .yuantaplusLogo {
    width: 130px;
    height: 39px;
    background-image: url(../images/logo/yuantaplus.svg);
    background-repeat: no-repeat; }
  @media only screen and (max-width: 1023px) {
    .header {
      padding: 16px; }
      .header .yuantaplusLogo {
        width: 120px;
        height: 36px; } }
  @media only screen and (max-width: 767px) {
    .header .yuantaplusLogo {
      width: 87px;
      height: 26px; } }

.logo {
  display: inline-block;
  width: 308px; }
  .logo img {
    width: 100%; }
  @media only screen and (max-width: 1023px) {
    .logo {
      width: 280px; } }
  @media only screen and (max-width: 767px) {
    .logo {
      width: 203px; } }

/* ------------------------------- Main ------------------------------- */
.main {
  margin-top: 80px; }
  @media only screen and (max-width: 1023px) {
    .main {
      margin-top: 68px; } }
  @media only screen and (max-width: 767px) {
    .main {
      margin-top: 59.5px; } }

/* ------------------------------- Footer ------------------------------- */
.footer {
  box-sizing: border-box;
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.3;
  text-align: center;
  color: #ffffff;
  background-color: #007fe0; }
  .footer-wrap span + span {
    margin-left: 10px; }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: 10px 20px 60px;
      font-size: 12px;
      line-height: 1.6;
      text-align: left; }
      .footer-wrap {
        margin-top: 10px; }
        .footer-wrap span {
          display: block; }
        .footer-wrap span + span {
          margin-left: 0; } }

/* ------------------------------- Floating tool ------------------------------- */
.mediaIcons {
  position: fixed;
  bottom: 50%;
  right: 20px;
  transform: translateY(50%);
  display: none;
  margin: 0;
  padding: 0;
  z-index: 20; }
  .mediaIcons li {
    margin: 20px 10px;
    list-style: none; }
    .mediaIcons li a {
      display: block;
      width: 33px;
      height: 33px;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      opacity: .4; }
      .mediaIcons li a.facebook {
        background-image: url(../images/icon/social/facebook-bk.png); }
      .mediaIcons li a.line {
        background-image: url(../images/icon/social/line-bk.png); }
      .mediaIcons li a.instagram {
        background-image: url(../images/icon/social/instagram-bk.png); }
      .mediaIcons li a.youtube {
        background-image: url(../images/icon/social/youtube-bk.png); }
      .mediaIcons li a.telegram {
        background-image: url(../images/icon/social/telegram-bk.png); }
  @media only screen and (min-width: 1024px) {
    .mediaIcons li a:hover {
      opacity: 1; }
      .mediaIcons li a:hover.facebook {
        background-image: url(../images/icon/social/facebook-hover.png); }
      .mediaIcons li a:hover.line {
        background-image: url(../images/icon/social/line-hover.png); }
      .mediaIcons li a:hover.instagram {
        background-image: url(../images/icon/social/instagram-hover.png); }
      .mediaIcons li a:hover.youtube {
        background-image: url(../images/icon/social/youtube-hover.png); }
      .mediaIcons li a:hover.telegram {
        background-image: url(../images/icon/social/telegram-hover.png); } }
  @media only screen and (max-width: 1023px) {
    .mediaIcons {
      right: 0; } }
  @media only screen and (max-width: 767px) {
    .mediaIcons {
      bottom: 0;
      right: 0;
      transform: none;
      width: 100%;
      padding: 4px 0;
      text-align: center;
      background-color: rgba(0, 159, 232, 0.9); }
      .mediaIcons li {
        display: inline-block;
        vertical-align: middle;
        margin: 6px; }
        .mediaIcons li a {
          width: 28px;
          height: 28px;
          opacity: 1; }
          .mediaIcons li a.facebook {
            background-image: url(../images/icon/social/facebook-wt.svg); }
          .mediaIcons li a.line {
            background-image: url(../images/icon/social/line-wt.svg); }
          .mediaIcons li a.instagram {
            background-image: url(../images/icon/social/instagram-wt.svg); }
          .mediaIcons li a.youtube {
            background-image: url(../images/icon/social/youtube-wt.svg); }
          .mediaIcons li a.telegram {
            background-image: url(../images/icon/social/telegram-wt.svg); } }

.gotop {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  opacity: 1;
  overflow: hidden;
  z-index: 50; }
  .gotop:hover {
    opacity: .7; }
  @media only screen and (max-width: 767px) {
    .gotop {
      right: 12px; } }

@-webkit-keyframes people {
  0% {
    transform: skewx(0); }
  100% {
    transform: skewx(2deg); } }

@keyframes people {
  0% {
    transform: skewx(0); }
  100% {
    transform: skewx(2deg); } }

.banner {
  position: relative;
  padding-bottom: 774px;
  overflow: hidden; }
  .banner img.-mb {
    display: none; }
  .banner-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%; }
    .banner-bg img {
      width: auto;
      height: 100%; }
  .banner-cloud {
    position: absolute; }
    .banner-cloud img {
      width: 100%; }
    .banner-cloud.-l {
      top: 4.52196%;
      left: -1.04167%;
      width: 12.5%; }
    .banner-cloud.-r {
      top: 17.05426%;
      right: -0.88542%;
      width: 14.63542%; }
  .banner-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1500px;
    height: 100%;
    font-size: 0;
    z-index: 1; }
    .banner-wrap div {
      position: absolute; }
    .banner-wrap img {
      width: 100%; }
  .banner-people {
    bottom: 19.89664%;
    transform-origin: bottom center;
    -webkit-animation: people 2s ease-in-out infinite;
            animation: people 2s ease-in-out infinite; }
    .banner-people.-l {
      right: 16.46667%;
      width: 12%;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
    .banner-people.-r {
      right: 10.66667%;
      width: 5.93333%;
      animation-direction: alternate-reverse; }

@-webkit-keyframes sign {
  0% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(3deg); } }

@keyframes sign {
  0% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(3deg); } }
  .banner-sign {
    top: -10.33592%;
    left: 2.66667%;
    width: 45.06667%;
    transform-origin: top center;
    -webkit-animation: sign 2s ease-in-out infinite alternate;
            animation: sign 2s ease-in-out infinite alternate; }
    .banner-sign img {
      transform-origin: top center; }
  @media only screen and (min-width: 1921px) {
    .banner-bg {
      top: auto;
      bottom: 19.89664%;
      transform: translate(-50%, 19.89664%);
      width: 100%;
      height: auto; }
      .banner-bg img {
        width: 100%;
        height: auto; }
        .banner-bg img.-mb {
          display: none; } }
  @media only screen and (max-width: 1499px) {
    .banner {
      padding-bottom: 51.6%; } }
  @media only screen and (max-width: 767px) {
    .banner {
      padding-bottom: 125%; }
      .banner img.-pc {
        display: none; }
      .banner img.-mb {
        display: block; }
      .banner-cloud {
        display: none; }
      .banner-people {
        bottom: 14.16667%; }
        .banner-people.-l {
          right: 35.41667%;
          width: 19.79167%; }
        .banner-people.-r {
          right: 25.3125%;
          width: 9.89583%; }
    @-webkit-keyframes sign {
      0% {
        transform: translateX(-50%) rotate(-3deg); }
      100% {
        transform: translateX(-50%) rotate(3deg); } }
    @keyframes sign {
      0% {
        transform: translateX(-50%) rotate(-3deg); }
      100% {
        transform: translateX(-50%) rotate(3deg); } }
      .banner-sign {
        top: -8.33333%;
        left: 50%;
        transform: translateX(-50%);
        width: 70.83333%; } }

.btn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 282px;
  cursor: pointer; }
  .btn img {
    position: relative;
    width: 100%;
    z-index: 1;
    transition: .3s; }
  .btn::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px; }
  .btn.-gn::before {
    background-color: #008f8c; }
  .btn.-og::before {
    background-color: #e87c0b; }
  @media only screen and (min-width: 1024px) {
    .btn:hover img {
      transform: translateY(6px); } }
  @media only screen and (max-width: 1279px) {
    .btn {
      width: 240px; }
      .btn::before {
        top: 5px; } }
  @media only screen and (max-width: 767px) {
    .btn {
      width: 200px; } }

.action {
  display: flex;
  justify-content: center;
  margin-top: 56px; }
  .action-item + .action-item {
    margin-left: 30px; }
  @media only screen and (max-width: 1023px) {
    .action {
      margin-top: 30px; } }
  @media only screen and (max-width: 767px) {
    .action {
      display: block;
      margin-top: 24px; }
      .action-item + .action-item {
        margin-left: 0;
        margin-top: 22px; } }

.link {
  color: #007fe0; }

.content {
  padding: 70px 30px;
  background: url(../images/background/ball.png) no-repeat top 40px center/auto; }
  @media only screen and (max-width: 767px) {
    .content {
      padding: 50px 20px;
      background: none; } }

.anchor {
  transform: translateY(-80px); }
  @media only screen and (max-width: 1023px) {
    .anchor {
      transform: translateY(-68px); } }
  @media only screen and (max-width: 767px) {
    .anchor {
      transform: translateY(-59.5px); } }

.block {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 90px 50px 50px;
  text-align: center;
  border-radius: 18px;
  background-color: #eaeaea; }
  .block-title {
    margin-bottom: 47px; }
  .block-link {
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold; }
  @media only screen and (max-width: 1023px) {
    .block {
      padding: 50px 30px 30px; }
      .block-title {
        margin-bottom: 30px; }
        .block-title img {
          width: 100%;
          max-width: 360px; }
      .block-link {
        margin-top: 24px;
        font-size: 18px; } }
  @media only screen and (max-width: 767px) {
    .block {
      padding: 40px 20px 30px; }
      .block-link {
        margin-top: 20px;
        font-size: 16px; } }

.paragraph + .paragraph {
  margin-top: 60px; }

.paragraph-title {
  display: inline-block;
  padding: 5px 31px 4px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #5aa0f5 49.9%, #2280f1 50%, #2280f1); }

.paragraph-content {
  margin-top: 26px;
  font-size: 22px; }
  .paragraph-content .-note {
    font-size: 18px; }

@media only screen and (max-width: 1023px) {
  .paragraph + .paragraph {
    margin-top: 30px; }
  .paragraph-title {
    padding: 5px 25px 4px;
    font-size: 22px; }
  .paragraph-content {
    margin-top: 16px;
    font-size: 18px; }
    .paragraph-content .-note {
      font-size: 15px; } }

@media only screen and (max-width: 767px) {
  .paragraph-title {
    padding: 3px 20px 2px;
    font-size: 18px; }
  .paragraph-content {
    font-size: 15px; }
    .paragraph-content .-note {
      font-size: 13px; }
    .paragraph-content.-mbTL {
      text-align: left; } }

.step {
  box-sizing: border-box;
  display: flex;
  margin-top: 65px;
  padding: 60px 90px;
  border-radius: 10px;
  background-color: #fff; }
  .step-title {
    display: none; }
  .step-pic {
    flex: 0 0 auto;
    width: 216px;
    padding-top: 20px; }
    .step-pic img {
      width: 100%; }
  .step-content {
    flex: 1;
    margin-left: 40px;
    text-align: left; }
  .step-content .step-title {
    display: block; }
    .step-content .step-title img {
      width: 390px; }
  .step-subTitle {
    margin-top: 24px; }
    .step-subTitle img {
      width: 336px; }
  .step-list {
    margin-top: 10px; }
    .step-list ol {
      margin: 0;
      padding: 0; }
    .step-list li {
      display: flex;
      height: 80px;
      list-style: none; }
      .step-list li + li {
        margin-top: 5px; }
      .step-list li span {
        display: flex;
        align-items: center; }
      .step-list li img {
        flex: 0 0 auto;
        padding: 10px;
        width: 26px; }
      .step-list li p {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 18px; }
      .step-list li.-bg span {
        background-color: #01cdd0; }
      .step-list li.-bg p {
        background-color: #c6f2f3; }
  @media only screen and (max-width: 1023px) {
    .step {
      max-width: 700px;
      margin: 45px auto 0;
      padding: 40px; }
      .step-pic {
        width: 33%;
        padding-top: 15px; }
      .step-content {
        margin-left: 30px; }
      .step-content .step-title img {
        width: 100%; }
      .step-subTitle {
        margin-top: 18px;
        padding-right: 15%; }
        .step-subTitle img {
          width: 100%; }
      .step-list {
        margin-top: 5px; }
        .step-list li {
          height: 70px; }
          .step-list li img {
            padding: 5px;
            width: 22px; }
          .step-list li p {
            padding: 5px;
            font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .step {
      display: block;
      padding: 30px; }
      .step-title {
        display: block; }
        .step-title img {
          width: 100%;
          max-width: 280px; }
      .step-pic {
        width: 100%;
        padding-top: 20px; }
        .step-pic img {
          max-width: 160px; }
      .step-content {
        margin-left: 0; }
      .step-content .step-title {
        display: none; }
      .step-subTitle {
        margin-top: 20px;
        padding-right: 0;
        text-align: center; }
        .step-subTitle img {
          max-width: 240px; }
      .step-list {
        margin: 15px -10px 0; }
        .step-list li {
          height: 60px; }
          .step-list li img {
            width: 20px; }
          .step-list li p {
            font-size: 14px; } }

.notice {
  padding-bottom: 70px; }
  .notice-title {
    margin-bottom: 40px;
    text-align: center; }
  .notice-content {
    box-sizing: border-box;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 30px; }
  @media only screen and (max-width: 1023px) {
    .notice-title {
      margin-bottom: 30px; } }
  @media only screen and (max-width: 767px) {
    .notice {
      padding-bottom: 50px; }
      .notice-title {
        margin-bottom: 20px; }
      .notice-content {
        padding: 0 20px; } }

ol {
  line-height: 1.7;
  margin: 0;
  padding-left: 25px; }
  ol.chinese {
    list-style-type: none;
    padding-left: 32px; }
    ol.chinese > li {
      position: relative; }
      ol.chinese > li::before {
        content: "(" attr(data-num) ")";
        position: absolute;
        top: 0;
        left: -5px;
        transform: translateX(-100%); }
  ol.brackets {
    list-style-type: none; }
    ol.brackets > li {
      position: relative;
      counter-increment: section; }
      ol.brackets > li::before {
        content: "(" counter(section, decimal) ")";
        position: absolute;
        top: 0;
        left: -5px;
        transform: translateX(-100%);
        min-width: 20px;
        text-align: center; }
  ol.cjk {
    list-style-type: none;
    padding-left: 32px; }
    ol.cjk > li {
      position: relative; }
      ol.cjk > li::before {
        content: attr(data-num) "„ÄÅ";
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%); }
  @media only screen and (max-width: 767px) {
    ol {
      font-size: 14px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

.-rdText {
  color: #e7401b; }

.-buText {
  color: #005bab; }

@media only screen and (min-width: 1024px) {
  .-mbOnly {
    display: none; } }

@media only screen and (max-width: 1023px) {
  .-pcOnly {
    display: none !important; } }

@media only screen and (min-width: 768px) {
  .-mbDownOnly {
    display: none; } }

@media only screen and (max-width: 767px) {
  .-padUpOnly {
    display: none; } }

.-hidden {
  display: none; }
